# Binaries for programs and plugins
*.exe
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Project-local glide cache, RE: https://github.com/Masterminds/glide/issues/736
.glide/
sqlite.db
tmp
temp.*
*.log
tmp
*.html
anginx
sqlite.db

*.log
.idea
.idea/*
*.png
anginx_cron.sh
test_config.yml
anginx-linux-amd64